
#createBtn{
  height: 56px !important;
}

.quiz{
  &__center{
    display: flex;
    gap: 20px 5px;
  }

  &__questions{
    text-align: center;
  }
  &__action{
    margin: 10px;
    display: flex;
    flex-direction: row-reverse;
  }
}
